<!-- <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <div class="pt-1 pb-1 nav-link {{ars.active1}}" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true" (click)="ars.getCommitteeListReport()">רשימת ועדות</div>
        <div class="pt-1 pb-1 nav-link  {{ars.active2}}"  data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="ars.getGovernmentDecisionListReport()">רשימת החלטות ממשלה</div>
            <div class="pt-1 pb-1 nav-link  {{ars.active3}}" data-toggle="pill"  role="tab" aria-controls="v-pills-messages" aria-selected="false" (click)="ars.getCommitteeDecisionsListReport()">רשימת החלטות ועדה</div>
                <div class="pt-1 pb-1 nav-link  {{ars.active4}}"  data-toggle="pill"  role="tab" aria-controls="v-pills-settings" aria-selected="false" (click)="ars.getArchivesLegendData()">רשימת שמות ועדה</div>
 </div> -->

 <div class="main-nav no-print">
    <div class="pt-1 pb-1 nav-link {{ars.active1}}" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true" (click)="ars.getCommittee()">רשימת ועדות</div>
   <div class="pt-1 pb-1 nav-link  {{ars.active2}}"  data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="ars.getGovernmentDecision()">רשימת החלטות ממשלה</div>
            <div class="pt-1 pb-1 nav-link  {{ars.active3}}" data-toggle="pill"  role="tab" aria-controls="v-pills-messages" aria-selected="false" (click)="ars.getCommitteeDecisions()">רשימת החלטות ועדה</div>
                <div class="pt-1 pb-1 nav-link  {{ars.active4}}"  data-toggle="pill"  role="tab" aria-controls="v-pills-settings" aria-selected="false" (click)="ars.getArchivesLegendData()">רשימת שמות ועדה</div>
 </div>

