<!-- <div class="row">
    <div class="col-3 pt-5">
        <mof-archives-menu></mof-archives-menu>
          </div>
    <div class="col-9 pt-5">
      <div class="tab-content" id="v-pills-tabContent">
      <mof-archives-data></mof-archives-data>
      <mof-archives-legend></mof-archives-legend>
    </div>
    </div>
  </div> -->
  <div class="wrapper">
    <div class="side-bar">
        <mof-archives-menu></mof-archives-menu>
          </div>
    <div class="content">
      <div class="tab-content" >
      <mof-archives-data></mof-archives-data>
      <mof-archives-legend></mof-archives-legend>
    </div>
    </div>
  </div> 