.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns:15% 82%;
    grid-template-areas:
    "sidebar content"
    
  }
  .sidebar {
    grid-area: sidebar;
  }
  
  .content {
    grid-area: content;
    position: relative;
    
  }