

.v-grid-title {
  font-size: 17px !important;
  font-weight: bold;
  color: #003b46 !important;
  background-color: #d4e0e2 !important;
  border-color: #ffffff !important;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.v-grid-column {
  padding-right: 20px;
  padding-top:5px ;
  padding-bottom:5px ;
  font-size: 16px !important;
  background-color: #ffffff !important;
  
  vertical-align: top  !important;
}

.archives-legend{
  grid-area: archives-legend;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr ;
  border: 1px solid #d4dddf !important;
}


