<!-- <header class="row pt-2 pb-3">
    <div class="col">

        ארכיון החלטות המדינה
    </div>


    <div class="col-2 pl-0 text-left">
        <span class="pr-3 pl-3 d-none d-md-inline"><img src="../../../assets/images/logo_ag.png" /></span>
        <span>
            <img class="img-fluid" src="../../../assets/images/logo_otzar_header.png" />
        </span>
    </div>





</header> -->

<header class="wrapper no-print">
    <div class="start-header">

        ארכיון החלטות המדינה
    </div>


    <div class="end-header  text-left">
        <span class="mar-l12"><img src="../../../assets/images/logo_ag.png" /></span>
        <span>
            <img class="img-fluid" src="../../../assets/images/logo_otzar_header.png" />
        </span>
    </div>





</header>